@import '../../styles/modules/variables.scss';
.home-container {
  width: 100%;
  height: 100%;
  position: relative;

  :global(.content-wrapper) {
    width: 100%;
    height: calc(100% - 0.4rem);
  }
}
